body {
  
  background-image: url('fondoceleste.jpg');
  background-repeat: no-repeat;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-chatBot {

  width: 300px;
  height: 300px;
}